
/* .header {
    font-family: "Clash Display";
    font-size: 4.0625rem;
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(170deg, #000 0%, rgba(137, 89, 89, 0.69) 25.70%, #B6B3B3 79.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media only screen and (min-width: 300px) and (max-width: 767px) {
    .header h1{
        font-size: 1.7rem;
        line-height: normal;
        margin-bottom: 0.69rem;
    }
} */